<div class="container">
  <mat-card> 
    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form 
        action="#" 
        id="main-form"
        (ngSubmit)="submit()"
        #form="ngForm"
      >
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label> Nome </mat-label>
            <input 
              type="text" 
              matInput 
              placeholder="Seu nome"
              [(ngModel)]="name"
              name="name"
              autocomplete="false"
              required
              minlength="3"
              #inputName="ngModel"
            >    
            <mat-error *ngIf="inputName.invalid">
              <span *ngIf="inputName.errors?.['minlength']">
                Você não colocou a quantidade de caracteres minímos
              </span>
              <span *ngIf="inputName.errors?.['required']">
                Este campo é obrigatório
              </span>
            </mat-error>
          </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> Sobrenome </mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="Seu sobrenome"
          [(ngModel)]="lastName"
          name="lastName"
          autocomplete="false"
          required
          minlength="3"
          #inputlastName="ngModel"
          >
          <mat-error>
            <span *ngIf="inputlastName.errors?.['required']">
              Este campo é obrigatório
            </span>
            <span *ngIf="inputlastName.errors?.['minlength']">
              Mínimo de 2 caracters
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row col">
        <mat-form-field appearance="fill" class="grow">
          <mat-label> usarname </mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="username"
          [(ngModel)]="userName"
          name="userName"
          autocomplete="false"
          required
          minlength="3"
          #inputUserName="ngModel"
          >
          <mat-error>
            <span *ngIf="inputUserName.errors?.['required']">
              Este campo é obrigatério
            </span>
            <span *ngIf="inputUserName.errors?.['minlength']">
              mínimo de 8 caracteres
            </span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label> CPF </mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="Seu CPF"
          [(ngModel)]="cpf"
          name="cpf"
          autocomplete="false"
          required
          minlength="3"
          #inputCpf="ngModel"
          >
          <mat-error *ngIf="inputCpf.invalid">
            <span *ngIf="inputCpf.errors?.['minlength']">
              Você não colocou a quantidade de caracteres minímos
            </span>
            <span *ngIf="inputCpf.errors?.['required']">
              Este campo é obrigatório
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> Telefone </mat-label>
          <input 
          type="tel" 
          matInput 
          placeholder="(DDD)12345-6789"
          [(ngModel)]="phone"
          name="phone"
          autocomplete="false"
          required
          minlength="8"
          #inputPhone="ngModel"
          >
          <mat-error>
            <span *ngIf="inputPhone.errors?.['required']">
              Este campo é obrigatório
            </span>
            <span *ngIf="inputPhone.errors?.['minlength']">
              Mínimo de 8 caracters
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label> Endereço </mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="Endereço"
          [(ngModel)]="adress"
          name="adress"
          autocomplete="false"
          required
          minlength="8"
          #inputAdress="ngModel"
          >
          <mat-error *ngIf="inputAdress.invalid">
            <span *ngIf="inputAdress.errors?.['minlength']">
              Você não colocou a quantidade de caracteres minímos
            </span>
            <span *ngIf="inputAdress.errors?.['required']">
              Este campo é obrigatório
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> Complemento endereço </mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="Cidade, UF - CEP"
          [(ngModel)]="adressComplement"
          name="adressComplement"
          autocomplete="false"
          required
          minlength="8"
          #inputAdressComplement="ngModel"
          >
          <mat-error>
            <span *ngIf="inputAdressComplement.errors?.['required']">
              Este campo é obrigatório
            </span>
            <span *ngIf="inputAdressComplement.errors?.['minlength']">
              Mínimo de 8 caracters
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label> Senha </mat-label>
          <input 
          type="password" 
          matInput 
          placeholder="Senha"
          [(ngModel)]="password"
          name="password"
          autocomplete="false"
          required
          minlength="3"
          #inputPassword="ngModel"
          >
          <mat-error *ngIf="inputPassword.invalid">
            <span *ngIf="inputPassword.errors?.['minlength']">
              Você não colocou a quantidade de caracteres minímos
            </span>
            <span *ngIf="inputPassword.errors?.['required']">
              Este campo é obrigatório
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> Confirmação da senha</mat-label>
          <input 
          type="password" 
          matInput 
          placeholder="confirme sua senha"
          [(ngModel)]="passwordConfirm"
          name="passwordConfirm"
          autocomplete="false"
          required
          (input)="passWordValidation()"
          #inputPasswordConfirm="ngModel"
          >
          <mat-error>
            <span *ngIf="inputAdressComplement.errors?.['required']">
              Este campo é obrigatório
            </span>            
          </mat-error>
          <span *ngIf="error">
            Senha diferente
          </span>
        </mat-form-field>
      </div>


      <div class="form-row col">
       <button mat-raised-button 
       type="submit" 
       color="accent" 
       class="grow"
       (click)="openDialog()"
       [disabled]="form.invalid || auxiliarDisable == false"
       > 
       Cadastrar</button>

      </div>   
          </form>
        </mat-card-content>
  </mat-card>
</div>